@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: "Inter", sans-serif;
}

.calculator {
  min-width: 20rem;
  min-height: 30rem;
  padding: 1rem;
  background-color: red;

  display: grid;
}

.first-row {
  padding: 1rem 9rem;
  height: 6rem;
  width: 6rem;

  background-color: yellow;
  display: grid;
  justify-items: end;
}

p {
  font-size: 1.5rem;
}

.second-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
