@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap") * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLORS */

:root {
  --bg-color: #424b54;
  --primary-color: #e6aace;
  --p1: #d6f8d6;
  --p2: #7fc6a4;
  --win-color: #eca400;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 2rem;
}

h1 {
  font-size: 3.2rem;
}

.container {
  display: flex;
  gap: 2rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 300px; /* Adjust width as needed */
  margin: 0 auto;
}

.square {
  width: 10rem; /* Adjust square size as needed */
  height: 10rem; /* Adjust square size as needed */
  border: 1px solid black;
  box-sizing: border-box; /* Include border in square dimensions */
  font-size: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.message {
  font-size: 3.2rem;
  color: var(--win-color);
  font-weight: bold;
}
