@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #5dc073;
  --primary-color-dark: #39934d;
  --default-color: #1f1f1e;
  --default-color-light: #535350;
  --default-color-very-light: #91918d;
  --bg-color: #f0f2fa;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--default-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem 4rem;
  background-color: white;
  box-shadow: -4px -1px 10px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 3rem;
}

.heading-logo {
  font-family: "Pacifico", cursive;
  font-size: 3.2rem;
  color: var(--primary-color);
}

.navbar__logo-search {
  width: 100%;
  display: flex;
  position: relative;
}

.icon-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 1.8rem;
  height: 1.8rem;
  color: #d7d7d5;
}

.navbar__logo-search-bar {
  width: 100%;
  border: 2px solid #d7d7d5;
  padding: 0.7rem;
  padding-left: 35px;
  border-radius: 100px;
  outline: none;
  transition: all 0.2s;
  color: inherit;
}

.navbar__logo-search-bar:hover,
.navbar__logo-search-bar:focus {
  cursor: pointer;
  border: 2px solid var(--default-color-very-light);
}

.navbar__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navbar__profile-btn {
  padding: 1rem 3rem;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.navbar__profile-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color-dark);
}

.navbar__profile-name {
  font-size: 1.6rem;
}

.img-container {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.navbar__profile-img {
  width: 100%;
}

.bar {
  border-left: 2px solid #d7d7d5;
  height: 50px;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--default-color-light);
}

.icon:hover {
  cursor: pointer;
}
