<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskMaster</title>
  </head>
  <body>
    <div class="container">
      <dialog class="dialog">
        <div class="dialog-content">
          <h2 class="dialog-header">New project</h2>
          <form class="dialog-form">
            <label class="dialog-input__title" for="ptitle"
              >Project title</label
            >
            <input type="text" id="ptitle" name="ptitle" />
            <div class="dialog-buttons">
              <button class="page__button" id="dialog-push">Create</button>
              <button class="page__button" id="dialog-close" type="button">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </dialog>
      <section class="section-project">
        <div class="header">
          <div class="header-text">
            <h1 class="page-title">Project: Home Renovation</h1>
            <p class="page-text">
              Manage all tasks related to your variable project.
            </p>
          </div>
          <button class="page__button">Add Task</button>
        </div>
        <div class="projects">
          <h2 class="projects-header">Tasks</h2>
          <div class="task">
            <div class="project-details">
              <div class="project-title">Finalize arcitectural plans</div>
              <div class="project-count">Due: July 15, 2024</div>
            </div>
            <div class="project-icon">
              <svg class="task__icon">
                <use xlink:href="img/sprite.svg#icon-circle-right"></use>
              </svg>
            </div>
          </div>

          <div class="task">
            <div class="project-details">
              <div class="project-title">Finalize arcitectural plans</div>
              <div class="project-count">Due: July 15, 2024</div>
            </div>
            <div class="project-icon">
              <svg class="task__icon">
                <use xlink:href="img/sprite.svg#icon-circle-right"></use>
              </svg>
            </div>
          </div>

          <div class="task">
            <div class="project-details">
              <div class="project-title">Finalize arcitectural plans</div>
              <div class="project-count">Due: July 15, 2024</div>
            </div>
            <div class="project-icon">
              <svg class="task__icon">
                <use xlink:href="img/sprite.svg#icon-circle-right"></use>
              </svg>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
