@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* FONTS */
  --font-primary: "Inter", sans-serif;

  /* COLORS */
  --color-red: #c3423f;
  --color-green: #9bc53d;
  --color-yellow: #fde74c;

  --text-color: #404e4d;

  --color-primary: #5bc0eb;
  --color-primary-light: #a4dcf4;
  --color-primary-dark: #1686b6;

  --bg-color: #fcfcfc;
  --bg-color-dark: #f8f8f8;

  --gradient: linear-gradient(to right, #a4dcf4, #5bc0eb, #1686b6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  font-size: 62.5%;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.header {
  background: var(--gradient);

  .logo {
    padding: 2rem;
    font-weight: 600;
    font-size: 3rem;
  }
}

.app {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30rem;
  background-color: var(--bg-color-dark);
  padding: 3rem 1.5rem;
  font-size: 2rem;

  .sidebar-filters {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 100%;

    margin-bottom: 5rem;
  }

  .sidebar-filter-link-item {
    padding: 1rem;
    border-radius: 5px;
    background: linear-gradient(to right, #a4dcf4, #72d3fd);

    text-decoration: none;
    color: var(--text-color);
    text-align: left;

    border: 2px solid transparent;

    transition: 0.3s;
  }

  .sidebar-filter-link-item:hover {
    border: 2px solid var(--color-primary-dark);
  }

  .sidebar-projects {
    width: 100%;

    .sidebar-header {
      margin-bottom: 3rem;
    }

    .sidebar-project-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;

  padding: 5rem;
  background-color: var(--bg-color);

  .main-header {
    font-size: 6rem;
    margin-bottom: 4rem;
  }

  .main-content {
    .content-header {
      font-size: 3rem;
      border-bottom: 1px solid black;
      padding: 0.5rem 2rem;
    }

    .content-task {
      font-size: 2rem;
      display: flex;
      flex-direction: row;

      gap: 15rem;

      padding: 2rem;

      cursor: pointer;

      transition: 0.2s ease-out;

      .content-task-utils {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .utils-date {
          font-size: 1.5rem;
          color: var(--color-primary-dark);
        }

        .utils-edit:hover,
        .utils-delete:hover,
        .utils-info:hover {
          border-radius: 8px;
          background-color: var(--color-primary);
        }
      }
    }
    .content-task:hover {
      background-color: var(--bg-color-dark);
    }
  }
}
